<% provide(:title, "Confirm") %>
<!DOCTYPE html>
<html>
    <head>
        <title> <%= yield(:title) %> | Team Orders App </title>
    </head>
    <body>
        <p> <%= link_to 'Home', '/orders/home'%> |
        <%= link_to 'Order', '/orders/order'%> |
        <%= link_to 'Confirm', '/orders/confirm'%> </p>
        <h1> <%= yield(:title) %> </h1>
        <h1>Food Ordered</h1>
        <p>You have ordered <%= @result %> foods</p>
        <p><%= link_to 'MORE Foods', '/orders/confirm' %></p>
    </body>
</html>


