<% provide(:title, "Order") %>
<!DOCTYPE html>
<html>
    <head>
        <title> <%= yield(:title) %> | Team Orders App </title>
    </head>
    <body>
        <p> <%= link_to 'Home', '/orders/home'%> |
        <%= link_to 'Order', '/orders/order'%> |
        <%= link_to 'Confirm', '/orders/confirm'%> </p>
    
        <h1> <%= yield(:title) %> </h1>
        <p>Here is where you place your meal order</p>
        <h1>Order foods</h1>
        <p> <%= link_to 'Order some foods', '/orders/confirm' %></p>
    </body>
</html>
